<launch>
    <node name="itri_encoder_node" pkg="serial_itri_driver"  type="serial_driver_node" output="screen">
        <param name="Lport" type="string" value="/dev/ttyS0" />
        <param name="Rport" type="string" value="/dev/ttyS1" />
        <param name="baudrate" type="int" value="57600" />
    </node>
    <!--node name="teleop_twist_keyboard" type="teleop_twist_keyboard.py" pkg="teleop_twist_keyboard" output="screen" /-->
</launch>