<!--html-->

<launch>

  <arg name="use_rviz" default="false" />

  <include file="$(find serial_itri_driver)/launch/robot_basic_all.launch" />

  <node name="calculat_navigation_cmd" pkg="navigation_controller"  type="navigation_controller" output="screen">
    <remap from="cmd_vel" to="raw_cmd_vel"/>  
    <remap from="scan" to="scan_filtered"/>
  </node>

  <node name="guide_control" pkg="guide_control"  type="guide_control_gui" output="screen">
  </node>

  <node name="send_navigation_cmd" pkg="navigation_controller" type="command_pub_srv_gui" output="screen"/>

</launch>
