<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="controller_frequency" value="1.0"/> 
    <!--<param name="controller_patiente" value="3.0"/>-->
    <rosparam file="$(find navigation_controller)/move_base_Setting/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find navigation_controller)/move_base_Setting/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find navigation_controller)/move_base_Setting/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_controller)/move_base_Setting/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find navigation_controller)/move_base_Setting/teb.yaml" command="load" />
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <rosparam file="$(find navigation_controller)/move_base_Setting/costmap_converter_params.yaml" command="load" />
  </node>
   <node name="Location_Position_Pose_Node" pkg="simple_navigation_goals" type="Location_Position_Pose_Node" />
</launch>
